body {
    font: Arial;
    font-size: 11px;
    margin: 2px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.table-wrap {
    border: 1px solid #000000;
}

.table-wrap table {
    text-align: center;
    width: 100%;
}

.table-wrap table th,
.table-wrap table td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    white-space: nowrap;
}

thead {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2))repeat scroll 0% 0% #EEEEEE;
    text-shadow: 1px 1px 1px #FFFFFF;
}

tr:hover td {
    background-color: #CCDDEE;
}

tr {
    background-color: transparent;
}

#localtimeDiv {
    float: left;
}

#versionDiv {
    float: right;
}

#gpxDiv {
    margin: 0 auto;
    text-align: center;
}

.cssButton {
    font-size: 11px;
}

#gpxOutput {
    width: calc(100% - 5px);
    resize: none;
    font-size: 11px;
}

.table-thead-fixed {
    position: relative;
    overflow: hidden;
}

.theader-fixed {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    background: #FFFFFF;
}

.tbody-scroll {
    position: relative;
    overflow: auto;
    margin-bottom: 2px;
}
