body {
    font-size: 11px;
}

.table-wrap {
    border: 1px solid black;
}

.table-wrap table {
    text-align: center;
}

.table-wrap table th, .table-wrap table td {
    border: 1px solid black;
    padding: 1px;
    white-space: nowrap;
}

tr:hover td {
     background-color: lightgray;
}
 
tr {
     background-color: white;
}

#localtimeDiv {
    float: left;
}

#versionDiv {
    float: right;
}

#gpxDiv {
    margin: 0 auto;
    text-align: center;
}

#gpxOutput {
    width: calc(100% - 5px);
}